html {
    font-family: Nunito;
    background-color: #7b3996;
    height: 100%;
    width: 100%;
}

.caixa {
    max-width: 400px;
    background-color: #f2f2f2;
    padding: 25px;
    margin: 20px;
    border-radius: 4px;
    -webkit-box-shadow: 10px 10px 12px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 12px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 12px -10px rgba(0, 0, 0, 0.75);
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.title {
    text-align: center;
}

.link {
    text-decoration: none;
}

.btn {
    padding: 10px;
    background-color: #7b3996;
    color: #fff;
    border-radius: 4px;
    transition-duration: 0.5s;
}

.btn:hover {
    background-color: #5b2d6d;
}

.area-botao {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}